.video{

    border: 7px solid saddlebrown;
    left: 875px;
    margin: 8px;
    position:absolute
    
}

h1{

    margin: 20px;

}

li{

    margin: 20px;
    font-size: 20px;

}

.esposa{
   
    left: 1100px;
    margin: 20px;
    position: absolute;

}

.amante{

    left: 900px;
    margin: 20px;
    position: absolute;
    

}

.proxpag2{

    margin: 20px;
    font-size: 18px;

}

button{

    background-color: brown;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px 0;

}

.b{

    color: brown;

}

button:hover {
    background-color: #5a809e;
}

nav a:hover {
    text-decoration: underline;
}