body {
    font-family: Arial, sans-serif;
    background: url(fundo.jpg);
    
}

nav {
    background-color: rgba(221, 58, 58, 0.658);
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: brown;
    margin: 10px;
}

h2 {
    color:black;
    text-align: center;
    text-decoration: none;
    font-weight: bold;

}

h3 {
    color: black;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}

p {
    margin: 10px;
    line-height: 1.5;
}

img {
    display: block;
    margin: 0 auto;
}

hr {
    border: none;
    border-top: 2px dotted brown  ;
    margin: 20px 0;
}

nav a {
    
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

 button {
    background-color: brown;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px 0;
}

button:hover {
    background-color: #5a809e;
}

li{

    color: brown;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.video{

    position: unset;


}